@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "管理员：登录";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="panel">
    <div class="panel-heading">
        <h3>登录</h3>
    </div>

    <div class="panel-body">
        <p class="lead">请登录管理系统</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <div class="form-group">
                <label>用户名：</label>
                @Html.TextBoxFor(m=>m.UserName,new { @class="form-control"})
            </div>

            <div class="form-group">
                <label>密码：</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <input type="submit" value="登录" class="btn btn-primary"/>
        }
    </div>

    <div class="panel-footer">

    </div>
</div>

